<ion-header>
  <ion-navbar>
    <ion-title>Films</ion-title>
    <ion-buttons end>
      <button icon-only ion-button (click)="setDisplaySearchbar()">
        <ion-icon class="menu-icon" md="md-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar *ngIf="DisplaySearchbar()" (ionInput)="searchFilms($event)"></ion-searchbar>
    <ion-list *ngIf="Films() != null">
      <div *ngFor="let film of Films()">
        <ion-card *ngIf="film != null" (click)="goToDescribeOfFilm(film.imdbID)" >
          <img *ngIf="film.Poster != null" src="{{film.Poster}}"/>
          <ion-card-content>
            <ion-card-title>
              <b>Titre : </b>{{ film.Title }}
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>
</ion-content>
