<ion-header>
  <ion-navbar>
    <ion-title>Description</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="Film() != null">
    <img *ngIf="Film().Poster != null" src="{{Film().Poster}}"/>
    <ion-card-content>
      <ion-card-title>
        <b>Titre : </b>{{Film().Title}}
      </ion-card-title>
      <p>
        <b>Description : </b> {{Film().Plot}}
      </p>
      <p>
        <b>Date de réalisation : </b> {{Film().Released}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-fab right bottom>
    <button ion-fab color="dark" (click)="goBack()"><ion-icon name="arrow-dropleft"></ion-icon></button>
  </ion-fab>
</ion-content>
