<ion-header>
  <ion-navbar>
    <ion-title>Description</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="Media() != null">
    <img *ngIf="Media().Poster != null" src="{{Media().poster}}" />
    <ion-card-content>
      <ion-card-title>
        <b>Titre : </b>{{Media().title}}
      </ion-card-title>
      <p>
        <b>Description : </b> {{Media().description}}
      </p>
      <p>
        <b>Date de Sortie : </b> {{Media().date}}
      </p>
      <p>
        <b>Recommandation d'âge : </b> {{Media().rated}}
      </p>
      <p>
        <b>Genre : </b> {{Media().genre}}
      </p>
      <p *ngIf="Media().typeMedia == 'film'">
        <b>Durée : </b> {{Media().runTime}}
      </p>
      <p>
        <b>Producteur : </b> {{Media().producer}}
      </p>
      <p>
        <b>Acteurs : </b> {{Media().actors}}
      </p>
      <p>
        <b>Nominations : </b> {{Media().awards}}
      </p>
      <p>
        <b>Note IMDB : </b> {{Media().imdbRating}}
      </p>
      <p>
        <b>Site Web : </b> {{Media().webSite}}
      </p>
      <p *ngIf="Media().typeMedia == 'serie'">
        <b>Saisons : </b>
      </p>
      <div *ngIf="Media().typeMedia == 'serie'">
        <ion-list *ngFor="let saison of Media().saisons; let saisonIndex = index">
          <ion-item>Saison {{ saisonIndex + 1 }}</ion-item>         
          <ion-item *ngFor="let episode of Media().saisons[saisonIndex]">Episode {{ episode.number }}</ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-fab right bottom>
    <button ion-fab color="dark" (click)="goBack()">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
  </ion-fab>
</ion-content>