<ion-header>

  <ion-navbar>
    <ion-title>Favoris</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page" padding>
  <ion-grid>
    <ion-row>
      <ion-col>
          <button ion-button full secondary (click)="exportFavorites('json')">
              <div>Export JSON</div>
          </button>
      </ion-col>
      <ion-col>
          <button ion-button full secondary (click)="exportFavorites('csv')">
              <div>Export CSV</div>
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label>
      <h2>Films / Séries</h2>
    </ion-label>
  </ion-item>
  <ion-list *ngIf="medias != null">
    <div *ngFor="let media of medias">
      <ion-card class="card-change" *ngIf="media != null" (click)="goToDescribeOfMedia(media.id)">
        <img *ngIf="media.poster != null" src="{{media.poster}}" />
        <div class="card-title">{{ media.title }}</div>
      </ion-card>
    </div>
  </ion-list>
  <ion-item>
    <ion-label>
      <h2>Episode</h2>
    </ion-label>
  </ion-item>
  <ion-list *ngIf="episodes != null">
    <div *ngFor="let episode of episodes">
      <div *ngIf="episode != null" (click)="goToEpisode(episode.id)">
        <ion-item>
          <ion-label>{{ episode.title }}</ion-label>
        </ion-item>
      </div>
    </div>
  </ion-list>
</ion-content>